.success{
    color: blue;
    background-color: lightblue;
    border: solid blue 2px;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.failure {
    color: red;
    background-color: lightcoral;
    border: solid red 2px;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}