.moyForm {
  margin: auto;
  width: 50%;
  border: 3px solid #0e0e0e;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.result {
  background-color: rgb(183, 183, 183);
  border: 3px solid #010101;
  border-radius: 10px;
  height: 100px;
}

.success {
  border-color: green;
  background-color: lightgreen;
}

.failure {
  border-color: red;
  background-color: lightcoral;
}
